h1{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 600;
    font-size: 90px;
    line-height: 150px;
    color: var(--e-global-color-primary);

}

h2{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 90px;
    color: var(--e-global-color-primary);
}
  
h3{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    color: var(--e-global-color-mostly-black);
}

h4{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
    font-size: 90px;
    line-height: 150px;
    color: var(--e-global-color-primary);
}

h5{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 89px;
    color: var(--e-global-color-primary);
}

h6{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 100px;
    color: rgb(29, 0, 77);
}

p{
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: var(--e-global-color-text);
}

.pp{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--e-global-color-text);
}

.sub_p{
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: var(--e-global-color-text);
}.ppp{
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: var(--e-global-color-mostly-black);
}
.sub_ppp{
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    line-height: 30px;
    color: var(--e-global-color-mostly-black);
}
.aling{
    text-align: justify;
}